<div class="w-screen h-screen flex justify-center align-center bg-[url('../src/assets/img/wood.jpg')]">
  <div class="w-[70vw] h-96 inline-flex " >
      <div (click)="playSound('note1')" class="w-full h-full bg-white hover:shadow-slate-400 active:brightness-50 flex justify-center align-top">
        <div class="bg-black w-1/2 h-44">

        </div>
      </div>
      <div (click)="playSound('note2')" class="w-full h-full bg-white hover:shadow-slate-400 active:brightness-50 flex justify-center align-top">
        <div class="bg-black w-1/2 h-44">

        </div>
      </div>
      <div (click)="playSound('note3')" class="w-full h-full bg-white hover:shadow-slate-400 active:brightness-50 flex justify-center align-top">
        <div class="bg-black w-1/2 h-44">

        </div>
      </div>
      <div (click)="playSound('note4')" class="w-full h-full bg-white hover:shadow-slate-400 active:brightness-50 flex justify-center align-top">
        <div class="bg-black w-1/2 h-44">

        </div>
      </div>
      <div (click)="playSound('note5')" class="w-full h-full bg-white hover:shadow-slate-400 active:brightness-50 flex justify-center align-top">
        <div class="bg-black w-1/2 h-44">

        </div>
      </div>
      <div (click)="playSound('note6')" class="w-full h-full bg-white hover:shadow-slate-400 active:brightness-50 flex justify-center align-top">
        <div class="bg-black w-1/2 h-44">

        </div>
      </div>
      <div (click)="playSound('note7')" class="w-full h-full bg-white hover:shadow-slate-400 active:brightness-50 flex justify-center align-top">
        <div class="bg-black w-1/2 h-44">

        </div>
      </div>
  </div>
</div>